---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Kajetan Nowak / Napisano w Astro.js
	</div>
</footer>
<style>
	footer {
		padding: 1em 2em 1em 2em;
		background: var(--nav-color);
		color: var(--nav-font-color);
		font-weight: 300;
		text-align: left;
		font-size: 0.8em;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
